@font-face {
    font-family: 'gothamBlack';
    src: url(../../fonts/gotham/GothamBlack.otf);
}

@font-face {
    font-family: 'gothamMedium';
    src: url(../../fonts/gotham/GothamMedium.otf);
}